body {
  background: #FEFEF3;
  position: relative;
}

div {
  box-sizing: border-box;
}

button {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
}

.sideNav {
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  background: #282B2C;
  height: 100%;
  position: fixed;
  transition: .5s ease;
  z-index: 1000;
}

.logo_container {
  text-align: right;
  padding: 20px;
}

.fa-regular.fa-face-flushed.darkColor {
  text-align: left;
}

.fa-regular.fa-face-flushed {
  color: #EBEBD9 !important;
  font-size: 5em;
  text-align: right;
}

#controls {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: right;
}

#controls button:hover {
  opacity: 0.5;
}

#controls button {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FEFEF3;
  font-size: 2.5em;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s ease;
}

.logoOnToggle {
  position: absolute;
}

.logoOnToggle i {
  color: #282B2C !important;
  font-size: 2em !important;
  position: absolute;
  left: 5px;
  top: 10px;
}

.fa-regular.fa-rectangle-list {
  color: #EBEBD9;
  font-size: 2em;
}

.toggler {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}


.toggler {
  display: none;
}

.listIcon, 
.closeIcon,
.toggler {
  z-index: 9999 !important;
}

.fa-solid.fa-x {
  color: #EBEBD9 !important;
  font-size: 2em;
  display: none;
}

.parallax_container {
  padding: 0 0 0 250px;
}

.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/2868665/pexels-photo-2868665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.parallax h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FEFEF3;
  font-size: 3em;
  line-height: auto;
}

.parallax p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5em;
  line-height: auto;
  color: #FFFFFF;
}

.flex_container {
  display: flex !important;
  flex-direction: column;
  padding: 0 0 0 250px;
  position: relative;
  height: auto;
}

.flex_container .collectOutput:nth-child(2){

  .collectOutput_col1 {
    order: 2;
  }
  .collectOutput_col2 {
    order: 1;
  }

}

.portfolio_section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  padding: 40px 0 40px 250px;
  flex-wrap: wrap;
}

.footer {
  margin: 0 0 0 0;
  background: #282B2C;
  padding: 40px 0 40px 250px;
  height: auto;
}

.company {
  padding: 0 20px 20px 20px;
}

.company h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FEFEF3;
  font-size: 1em;
  line-height: auto;
  padding: 0 0 10px 0;
}

.company p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #FFFFFF;
}

.social_icons {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.fa-brands.fa-square-facebook,
.fa-brands.fa-instagram,
.fa-brands.fa-tiktok,
.fa-brands.fa-x-twitter {
  font-size: 1.5em;
  color: #f5f5e9;
}

.disclaimer {
  padding: 0 20px;
}

.disclaimer h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FEFEF3;
  font-size: 1.5em;
  line-height: auto;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

.disclaimer p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #FFFFFF;
}

.hideOnMobile {
  display: block;
}


/*Dynamic Content Styles*/
.article_headline {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 2em;
  color: #FFFFFF;
}

.article_p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #FFFFFF;
}

.darkColor {
  color: #282B2C;
}

.article_headline.darkColor {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 20px 20px 10px 20px;
}

.article_p.darkColor {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 20px 20px 20px;
}

.article_image {
  width: 100%;
  display: block;
}

.collectOutput {
  display: flex;
  flex-direction: row;
}

.collectOutput_col1 {
  flex: 1;
}

.collectOutput_col2 {
  flex: 1;
}

.toggleHide {
  display: none !important;
}

.toggleShow {
  display: block !important;
}

.portfolio_image {
  width: 100%;
  max-width: 350px;
  display: block;
}

.portfolio_piece_container {
  position: relative;
}

.article_p.portfolioP {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  color: #282B2C;
}

@media only screen and (max-width: 1270px) {

  .collectOutput {
    display: flex;
    flex-direction: column;
  }

  .flex_container .collectOutput:nth-child(2){
    .collectOutput_col1 {
      order: 1;
    }
    .collectOutput_col2 {
      order: 2;
    }
  }

}

@media only screen and (max-width: 600px) {

  .parallax_container {
    padding: 0;
  }

  .flex_container {
    padding: 0 0 0 0 !important;
  }

  .sideNav {
    position: absolute;
    left: -100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    z-index: 1000;
  }

  .toggler {
    display: block;
    transition: .5s ease;
  }

  .goLeft {
    position: fixed;
    left: -10%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: #282B2C;
    height: 100%;
    transition: .5s ease;
  }

  .hideOnMobile {
    display: none;
  }

  .portfolio_section {
    padding: 50px 0 40px 0 !important;
  }

  .footer {
    padding: 40px 0;
  }

}
